{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf"
}
